<% if @user.id.to_i == current_user.id %>
    The posts for user:
    <b>
      <%= current_user.email %>
    </b>
    <br/>
    <br/>
    <table border="1">
      <tr style="width: 60%">
        <td style="width: 80%">
          Tweet
        </td>
        <td style="width: 20%">
          Delete?
        </td>
      </tr>

      <% @user_posts.each do |post| %>
          <tr>
            <td>
              <%= post.content %>
            </td>
            <td>
              <%= link_to "delete", post_path(:id=>post.id), :method => "DELETE" %>
            </td>
          </tr>
      <% end %>
    </table>

<% else %>
    User id is : <%= @user %>
    <br/>
    <%= link_to "follow", relationships_path, :method => "put" %>
    <%= link_to "unfollow", relationship_path(@user), :method => "put" %>
<% end %>

  
